* {
  box-sizing: border-box;
}

body {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  margin: 0;
  background-image: url("images/space-background.gif");
}

.snake {
  background-image: url(images/smolFball.gif);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
}

.fuel {
  background-image: url(images/violetpulse.gif);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
}

.grid {
  align-items: center;
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  max-height: 600px;
  max-width: 600px;
  /*box-shadow: orange;
   border-style: transparent; */
}

.grid div {
  flex-grow: 1;
  height: 33.33px;
  width: 33.33px;
  border: 1px solid lightgrey;
  border
}
