* {
  box-sizing: border-box;
}

body {
  font-family: 'Press Start 2P', cursive;
  font-size: 20px;
  color: white;
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  margin: 0;
  background-image: url("images/space-background.gif");
}

.container > div {
  display: flex;
  align-self: center;
}

h1 {
  justify-content: flex-start;
  align-items: baseline;

}

.scores {
  font-size: 50px;
}

.snake {
  background-image: url(images/FlyingDragon.gif_c200);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
}

.fuel {
  background-image: url(images/SpinMerc.gif);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
}

.grid {
  align-items: center;
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  max-height: 600px;
  max-width: 600px;
  /*box-shadow: orange;
   border-style: transparent; */
}

.grid div {
  flex-grow: 1;
  height: 33.33px;
  width: 33.33px;
  border: 1px solid lightgrey;
  border
}
